<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->

<head>
<meta charset="utf-8">
<title>Diabetes Predictor</title>
<link rel="stylesheet" type="text/css"href="{{ url_for('static', filename='cssstyle.css') }}">
</head>
<body >


<div align="left" > 
<form action="{{ url_for('predict')}}"method="post"> 
<h3>
<br><br><br><br><br>
&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&ensp; 
	
<label >Pregnancies: </label>
&emsp;&ensp;<label>Glucose:</label>

<br>
&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&ensp;
 
<input type="text"
       title="Number of times pregnant"
       style="width:230px;height:25px;font-size:20px;background-color: lightblue;border: solid" 
	   name="pregnancies" 
	   placeholder="number">
	   &emsp;
<input type="text"
       title="Plasma glucose concentration of two hours in an oral glucose tolerance test"
	   style="width:230px;height:25px;font-size:20px;background-color: lightblue;border: solid" 
	   name="glucose" 
	   placeholder="mg/dL" >
	
<br><br>

&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&ensp;&ensp;&nbsp; 

<label >Blood Pressure: </label>
&emsp; <label>Skin Thickness:</label>

<br>
&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&ensp;
 
<input type="text" 
       title="Diastolic blood pressure"
	   style="width:230px;height:25px;font-size:20px;background-color: lightblue;border: solid" 
	   name="blood_pressure" 
	   placeholder="mm Hg">
&emsp;
 
<input type="text" 
       title="Triceps skin fold thickness"
	   style="width:230px;height:25px;font-size:20px;background-color: lightblue;border: solid" 
	   name="skin_thickness"
	   placeholder="mm">
<br><br>	


&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&ensp; 

<label >Insulin:</label>
&emsp;&ensp;<label >BMI:</label>

<br>
&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&ensp;

<input type="text"
       title="2-Hour serum insulin" 
	   style="width:230px;height:25px;font-size:20px;background-color: lightblue;border: solid" 
	   name="insulin" 
	   placeholder="muU/ml">
&emsp;
<input type="text" 
       title="Body mass index (weight/height²)"
	   style="width:230px;height:25px;font-size:20px;background-color: lightblue;border: solid" 
	   name="bmi" 
	   placeholder="kg/m²">

<br><br>	
&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&ensp;&nbsp; 

<label >Diabetes Pedigree Function:</label>
&emsp;&ensp;<label>Age:</label>

<br>
&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&ensp;

<input type="text" 
       title="Diabetes pedigree function value"
       style="width:230px;height:25px;font-size:20px;background-color: lightblue;border: solid"
	   name="dpf" 
	   placeholder="value">
&emsp;
<input type="text" 
       title="Age in years"
	   style="width:230px;height:25px;font-size:20px;background-color: lightblue;border: solid" 
	   name="age" 
	   placeholder="years"> 
<br>


<h1 align="center">	
&ensp;	
<button type="submit"  
		style="background-color:#4472C4;width:200px;height:50px;border: thick " 
		class="btn btn-primary btn-block btn-large"><strong>Predict</strong></button> 
</h1>
</form>
<h1 align="center">&emsp;{{ prediction_text }} </h1>
</div> 
</body>
</html>